# Foundations of Data Science
## Homework 2

Student Name: Akshay Prakash Tambe

Student Netid: apt321
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include aspects of the Data Science Workflow that you see as relevant to solving the problem.  Be precise but concise.

The 21st Century runs their businesses by focussing mainly on behavioral research. Target is the major retailer, from grocery chains to departmental products where their main goal is convincing customers that the only store they need is this store.

The primary goal of Target is "Customer Retention" where they want to attract customers by luring them using discounts and promotions. As per Pole's Research, it is necessary to track down the customer's habits and by having this knowledge, we can add the product to their routines and thus, change their shopping habits.

As phases in life changes, people change their shopping habits. Target wanted to focus mainly on Pregnant Customers as a new parent's buying habits are suddenly in flux. Hence, they wanted to identify such customers when the women in their second trimester where they begin buying all sorts of new things. After identifying they can design discounts and promotions as per their relevant shopping habits, exclusively for such customers.

Defining the Problem using *Data Science Terminology*:  
** Problem: ** Increase Target's Market Cap by identifying accurately when is the potential customer going to enter the trimester of pregnancy.

** Goal: ** Determine when will the women potentially enter the trimester of the pregnancy.

** Motivation: ** Target to-be Parents by making them buy baby products, Medicare, and other primary products by understanding their buying patterns.

** Type of Modelling Used by Pole's Team: ** Predictive Modelling

** Data Loading - How can data be collected: **
- Shopping history tracking by using Target's Unique Customer Identification Number
- Data from online shopping
- Purchases associated with a particular payment method (Credit Card, Debit Card and other payment methods)
- As the data is public (As stated in the article), data can be bought from multiple sources having data about  customer's ethnicity, age group, job history, magazines read, bankruptcy or marital status, property transactions, education history, online interests, daily product preferences, political leanings, reading habits, charitable giving and ownership of number of cars.

** Data Transformation - Merging the data: **
- Before working on the dataset, the collected data should be in a single format
- Joining tables according to Customer Name, Unique Identification, Payment Method Information can be done to aggregate the data in a single large table.

** Data Cleaning and Exploration - Identifying the data which is necessary for Prediction Model: **
** Data Cleaning: **
- Eliminate unnecessary, irrelevant and duplicate data records.
- Clean the data by adjusting the missing values (Techniques like Gaussian Distribution, Taking Mean if data is numeric can be used)

** Data Exploration: **
- Marital Status: A married couple is likely to have a baby.
- Age Group: A women in age groups of the 20s or early 30s are likely to get pregnant. A woman's fertility starts to decline in her early 30s, with the decline speeding up after 35. At 40 a woman only has a 5% chance of becoming pregnant in any month.
- Online Interest: Tracking customer's online interest, reading habits and online orders such as Medicare and foods to eat during the pregnancy. This will boost the model identifying the “pregnancy prediction” score.
- Daily Product Preferences: Tracking Customer's daily shopping products can be used to create association rules.

** Feature Engineering: **
- New features like reorder frequency of a particular product can be derived from the available data which will help us determine the buying pattern of the customer.
- Identifying a change in shopping pattern (purchase or lack of purchase) by checking a different set of orders by a customer particularly required for a pregnant woman (Deviation in Regular Shopping pattern). Items like a body pillow, BPA free water bottle, prenatal vitamins, prenatal DHA, peppermint tea, Maternity wear, Sleep aids, Pregnancy books, Newborn clothes, Crib and mattress, and much more pregnancy-related products can be bought by a customer frequently. This ordering pattern will help to create association rules to predict the goal.
- After identifying all the necessary features for analysis, we can eliminate weak entities by using data reduction techniques for better decision making. Techniques like Principal Component Analysis, High Correlation Filter, Low Variance Filter can be helpful in this process.

** Data Modelling, Performance Evaluation, and Model Selection: **
- The data needs to be split into test and train data as per the decided split ratios (70:30 can be good split for modeling). The test data can be further used for calculating the accuracy of the model. Tfid can be used for tokenizing and counting
- Modeling techniques such as Logistic Regression, Support Vector Machines, Random Forest and XGBoost Models can be run against the training dataset. SVM (non-probabilistic binary linear classifier) and XGBoost Modelling can be better in this case as we can have predictions in binary format.
- A feature importance matrix and accuracy score will play a major role in performance evaluation and model selection.
- Performance Evaluation can be done by comparing the training dataset with the test data and calculate the accuracy.
- After performance evaluation and checking which model correcting fits the data, we can determine the best model for the given dataset and run predictions using that model.

** Prediction: **
- Target Variable: To determine whether a woman is pregnant or not. (YES/NO)
- We can run the model of a new test data to get a “pregnancy prediction” score. A threshold level should be set to eliminate weak predictions.
- The Prediction Score will mostly depend on the buying order of pregnancy-related products, a sudden change in buying pattern, prolonged pregnancy-related activity.


** Association Rules: **
- As Target is a major retailer for almost all everyday products, association rules can be created for a pregnant woman to buy other frequently associated products.
- A famous technique called "Market Basket Analysis" can be done which will help to identify relevant products using association rules.
- The above analysis can be used to create discount and promotions to the customers by bundling the coupons along with some other frequently associated products.

Finally, Target can send out discounts and promotions to the selected customers through email or appending at the end of the receipt for the future purchase. Also, it can keep a track of usage of coupons and then again can send further rewards to the customers who are using it.

The application of predictive modeling was a great success for Target because along with the analysis of customer buying patterns, they also researched on Scientific study of habitual systems (Cue-Routine-Reward).

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int` (continuous), `int` (continuous), `string`, and `int` (category) respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file?

In [8]:
# wordcount by line - 10341 Records
!wc -l < advertising_events.csv

   10341

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [19]:
# cut command for taking 1st column --> sort unique --> wordcount by line - 732 Unique Users
!cut -d ',' -f 1 advertising_events.csv | sort -u | wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [31]:
# cut command for taking 3rd column --> sort by domain --> take unique domain count --> sort in descending order
!cut -d ',' -f 3 advertising_events.csv | sort | uniq -c | sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [36]:
# global regex for user id 37
!grep -w '37' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [37]:
# Importing Packages
import pandas as pd
import numpy as np

1\. Load the data set `"datasets/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [39]:
# Loading Tab Delimited Data using read_table pandas function in 'ads' dataframe
ads = pd.read_table("ads_dataset.tsv")
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [78]:
def getDfSummary(input_data):
    # Initialising lists
    number_nan = [] #count the number of missing not-a-number values
    number_distinct = [] #count the number of distinct values a variable can take on
    describe = [] #mean, max, min, std (standard deviation), and 25%, 50%, 75% to correspond to the appropriate percentiles
    
    # number_nan --> isnull() to check if value is null (T/F) --> sum() to count True Values
    number_nan = input_data.isnull().sum()
    
    # number_distinct --> number of unique elements in the group --> Remove missing values
    number_distinct = input_data.nunique(dropna=True)
    
    """
    describe --> using describe(): descriptive statistics that summarize the central tendency, 
    dispersion and shape of a dataset’s distribution, excluding NaN values. --> .T: fitting precisely
    """
    describe = input_data.describe().T
    
    # Loading calculated values in a new dataframe
    output_data = pd.DataFrame({'number_nan':number_nan, 'number_distinct':number_distinct, 'mean':describe['mean'],
                               'max':describe['max'], 'min':describe['min'], 'std':describe['std'], '25%':describe['25%'],
                               '50%':describe['50%'], '75%':describe['75%']})
    # Ordering Columns
    output_data = output_data[['number_nan','number_distinct', 'mean', 'max', 'min', 'std', '25%', '50%', '75%']]
    
    return output_data

# Displaying output
getDfSummary(ads)

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0,2,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,52257,10,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
visit_freq,0,64,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,0,295,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,0,5886,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,0,348,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,0,15135,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,0,2,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,0,2,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,0,207,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,0,4628,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,0,2,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [79]:
# Calculate time for above cell code
%timeit getDfSummary(ads)

65.1 ms ± 6.56 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [83]:
# Generating Fields which contain missing NaN values
results = getDfSummary(ads)
missing_NaN = results.index[results['number_nan'] != 0].tolist()
missing_NaN

['buy_freq']

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? What would be an appropriate method for filling in missing values?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [ ]:
# Place your code and response here

6\. Which variables are binary?

In [ ]:
# Place your code here